*{
	padding:0;

	}


iframe {

   display: inline-block;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   align-content: center;

	   }

body {

			background-color: #CECECE;

			}



h1 {

	font-family: 'Sansita Swashed', cursive;
	
	}
	
	div h2 {
			font-family: 'Sansita Swashed', cursive;
	}

	div {
		text-align: center;
	}
